@import "../../styles/variabili";
.titoli {
    border-left: 2px dotted $yellow;
    padding-left: 20px;
    h2{
        line-height: 1;
    }
    sub {
        display: block;
        font-size: 40px;

    }
   
}
.articoloImage{
    margin:0 1rem;
}
.corpoTesto{
    padding:10px 20px;
   p{ columns: 2;}
}
.specs{
    padding: 2rem 1rem ;

    border-left: 10px solid #f6f9fc;
    margin:1rem;
}
.category{
    font-size: 40px;
    font-weight: bold;
    color: $blue;
    sub{
        display: block;
        font-size: 20px;
        color: $yellow;
        line-height: 0;
    }
}