$blue: #7586aa;
$bluedark: #6B7B9A;
$yellow: #FEC86F;
$yellowdark: #c38740;
$black: #292929;
$gray: rgb(113, 113, 113);
// fonts
$fontPrimary: 'source-sans';

//media queries
$phone: 'max-width: 440px';
$tablet:'max-width: 768px';
$large: 'max-width: 1024px';
$desktop: 'max-width: 1280px';